/* the basics - base sizing, color definitions, font definitions, etc. */

* {
    box-sizing: border-box;
}

:root {
    --accent: rgb(245, 200, 255);
    --main: white;
    --bg: rgb(39, 0, 78);
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../media/fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrainsMono Bold";
    src: url("../media/fonts/JetBrainsMono-Bold.woff2");
}

html,
body {
    font-family: "JetBrainsMono", 'Courier New', Courier, monospace;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--bg);
    color: var(--main);
    text-shadow: 0px 0px 0.5rem var(--main);
}

html {
    font-size: 120%;
}

h1,h2{
    color:var(--accent);
    font-family: "JetBrainsMono Bold","JetBrainsMono",'Courier New', Courier, monospace;
    text-shadow: 0px 0px 0.5rem var(--accent);
  }
  h1{
    font-size: 1.66rem;
  }

/* halftone background code - partially adapted from https://css-irl.info/css-halftone-patterns/ */

.halftone {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin:0;
    --mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.5));
    --stop1: 3%;
    --stop2: 180%;
    aspect-ratio: 1;
    z-index: 0;
    background: white;
    filter: contrast(100) invert(1);
    opacity: 0.5;
    mix-blend-mode: multiply;
  }

  .halftone::after {
    content: '';
    position: fixed;
    inset: 0;
    background-image: radial-gradient(circle at center, black var(--stop1), transparent var(--stop2));
    background-size: 1rem 1rem;
    background-repeat: round;
    background-position-x: center;
    background-position-y: 0rem;
    mask-image: var(--mask);
    animation: scroll 0.75s linear 0s infinite;
  }

  @media (prefers-reduced-motion) {
    .halftone::after{
        animation: none !important;
    }
  }
  

  @keyframes scroll {
    0%{
      background-position-y: 0rem;
    } 
    100%{
      background-position-y: 1rem;
    } 
  }

  /* box div code & flip open animation */

  .box{
    background-color: rgb(0 0 0 / 0.5);
    border-radius: 2rem;
    border: 2px solid var(--accent);
      outline: 8px solid rgb(0 0 0 / 0.5);
      margin: 16px;
      margin-bottom: 24px;
      padding: 8px;
      z-index: 2;
      position: relative;
      box-shadow: 0px 0px 4px var(--accent);
  }
  
  .flip-open{
      transform: scaleY(0);
    animation: flip 0.25s ease-in-out 0.25s 1 forwards;
  }
  
  @keyframes flip {
    0%{
      transform: scaleY(0);
    }
    100%{
      transform: scaleY(1);
    }
  }

  /* generic reusables */

  .image-container{
    width: 60%;
    margin: 8px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(0.2 0 0.2 / 0.5);
    border-radius: 25%;
  }

  br.fifth{
    height: 20%;
  }
  
  .image-container img{
    border-radius: 25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pixel{
    image-rendering: pixelated;
  }

  .sq-64{
    size: 64px 64px !important;
  }

  .sq-256{
    size: 256px 256px !important;
  }

  .sq-512{
    size: 512px 512px !important;
  }

  .text-center{
    text-align: center;
    width: 100%;
  }

  /* aside internal code */

  /* the layout code - aside sidebar + main masonry layout */

  aside{
    width: 25%;
    float: left;
    position: fixed !important;
    height: calc(100vh - 32px);
  }

  main{
    width: calc(75% - 48px);
    float: right;
  }

  .masonry{
    column-count: 3;
    column-gap: 8px;
  }

  .masonry > .box{
    display: inline-block;
  } 

  /* crt overlay - partially adapted from http://aleclownes.com/2017/02/01/crt-display.html */

  body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 3;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  /* responsive layout code */
