---
import Base from "../layouts/base.astro";

import { getCollection } from 'astro:content';

const posts = (await getCollection('projects'))
---    
<Base title="Projects" description="A selection of projects, both done in practice and for showcasing." masonry>
    {posts.map((post) => 
        <div class="box">
            <h1>{(post.data.title)}</h1>
            <p>{(post.data.description)}</p>
        </div>)
    }

</Base>