---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';

export async function getStaticPaths() {
	const posts = await getCollection('projects');
	return posts.filter((post)=>(!post.data.short)).map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'projects'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Base {...post.data}>
	<Content />
</Base>
