---
const { frontmatter } = Astro.props;
import "../styles/style.css";
const { title, description, masonry } =
  Astro.props.frontmatter || Astro.props;
const lang = Astro.currentLocale
---
<!DOCTYPE html>
<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="halftone">
    </div>
    <aside class="box flip-open">
        <div class="image-container pixel sq-128">
            <img src="media/img/moon.png" alt="">
        </div>
        <div class="text-center">
        <h1>Portfolio here</h1>
        <p>This is my very businessy portfolio</p>
        </div>
    </aside>
    <main class:list={[(masonry ? "masonry" : "box")]}>
        <slot/>
    </main>
</body>
</html>